@import 'sass';

.ant-collapse-header {
	.ant-collapse-header-text,
	.ant-collapse-expand-icon {
		color: white;
	}

	&[aria-expanded='true'] {
		background-color: map-get($theme-colors, color_themePrimaryOpaq) !important;
	}
}

.ant-collapse-content {
	border-color: map-get($theme-colors, color_themePrimary) !important;
	background-color: map-get($theme-colors, color_themePrimaryOpaq) !important;
}
